bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
/.vs/
/ScaleUpUnofficial.sln.DotSettings.user
/PythonApp/.idea/
/PythonApp/StardewSpriteTokens.build/
/PythonApp/StardewSpriteTokens.dist/
/PythonApp/icon.ico
